.cardItem{
height:80px ;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

/* width: 50px; */
}

.pieChart{
    height:200px ;
}

.kcal{
    font-size: 30px;
}

.colorModal{
    color:black;
}
