:root {
  --grid: 8px;
  --pink: #fd3afd;
  --pinkDark: #690169;
  --greyLight: #515b7d;
  --black: #1d212e;
  --borderWidth: 4px;
  --borderRadius: 5px;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columns {
  display: flex;
}

.column {
  margin: calc(var(--grid) / 2);
  /* border: var(--borderWidth) solid #fffddd; */
  border-radius: var(--borderRadius);
  background-image: linear-gradient(rgba(0, 0, 0, 0.769), rgba(0, 0, 0, 0.961)),
    var(--mybguri64);
    padding: 8px;
}

.column-title {
  font-size: 34px;
  color: #fffddd;
  text-shadow: 0px 0px 2px var(--pinkDark),
    0px 0px 15px rgba(255, 110, 255, 0.5);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

.column-title:hover {
  text-shadow: 0px 0px 2px var(--pinkDark),
    0px 0px 15px rgba(255, 110, 255, 0.8);
}

.task-list {
  /* this has no visible impact, but is in line with the absolute position spacing.
  doing this ensures that dropping into an empty list will be in the correct visual position */
  padding-left: var(--grid);
  padding-right: var(--grid);
  scrollbar-color: dark;
}

.task-list::-webkit-scrollbar {
  width: 1em;
}

.task-list::-webkit-scrollbar-track {
  background-color: var(--greyLight);
  border-radius: var(--borderRadius);
}

.task-list::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

.item {
  background: #333851;
  /* border: var(--borderWidth) solid mediumpurple; */
  box-sizing: border-box;
  border-radius: var(--borderRadius);
  color: #fffddd;
  font-size: 23px;
  user-select: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item.is-dragging {
  background: #515b7d;
  border-color: #08ff08;
  box-shadow: 0px 0px 2px rgb(8, 58, 30), 0px 0px 10px MediumSeaGreen;
}
.item.is-starchyFoods {
  background: #b65c03;
}
.item.is-fats {
  background: #ffcd56;
}
.item.is-proteinFoods {
  background: #ff6384;
}
.item.is-fruits {
  background: #ff9f40;
}
.item.is-veggies {
  background: #45866f;
}

