@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url(imgCssVar.css);

* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),var(--mybguri64);
  background-size: cover;
  overflow-y: auto !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}




